In [5]:
class laptop():
    def __init__(self):
        self.ram=""
        self.proc=""
    def display(self):
        print("Ram", self.ram)
        print("Proc", self.proc)
hp=laptop()
dell=laptop()

hp.ram="8gb"
hp.proc="hp-i8"

dell.ram="16gb"
dell.proc="dell-i9"

hp.display()
dell.display()

Ram 8gb
Proc hp-i8
Ram 16gb
Proc dell-i9

In [13]:
class student():
    def __init__(self):
        self.name="manju"
        self.regno="2233"
    def display(self):
        print("Name",self.name)
        print("Reg no:",self.regno)
s1= student()
print(s1.name)
print(s1.regno)
s1.display()

manju
2233
Name manju
Reg no: 2233

In [17]:
class student():
    def __init__(self):
        self.name="manju"
        self.regno="2233"
    def display(self):
        print("Name",self.name)
        print("Reg no:",self.regno)
s1= student()
s2= student()
s1.name="mahi"
s1.regno="3344"
s2.name="rashi"
s2.regno="9999"
s1.display()
s2.display()

Name mahi
Reg no: 3344
Name rashi
Reg no: 9999

In [21]:
class fruit():
    def __init__(self,col):
        self.colour=col
apple=fruit("red")
print(apple.colour)

red

In [23]:
class teacher():
     def __init__(self,name,reg):
         self.name=name
         self.reg=reg
     def display(self):
        print("Name",self.name)
        print("Reg no:",self.reg)
t1=teacher("manju","5")
t2=teacher("muruga","8")
t1.display()
t2.display()

Name manju
Reg no: 5
Name muruga
Reg no: 8

In [31]:
class calculator():
    def add(self,a,b):
        print("Add:",a+b)
    def sub(self,a,b):
        print("sub:",a-b)
    def mul(self,a,b):
        print("mul:",a*b)
    def div(self,a,b):
        print("div:",a/b)
obj= calculator()
obj.add(10,2)
obj.sub(8,2)
obj.mul(5,2)
obj.div(10,2)

Add: 12
sub: 6
mul: 10
div: 5.0